---
import Layout from '../layouts/Layout.astro';
import Carrousel from '../components/Carrousel.astro';
import Services from '../components/Services.astro';
import Obituarios from '../components/Obituarios.astro';
import Contacto from "../components/Contacto.astro";
import WavesUp from '../components/icons/WavesUp.astro';
import WavesDown from '../components/icons/WavesDown.astro';
---

<Layout title="Jardín de la paz | Servicios Velatorios y Funerarios.">
	<Carrousel></Carrousel>
	<WavesUp></WavesUp>
	<section class="flex items-center space-x-8 md:space-x-0 flex-wrap justify-evenly bg-[#f8f8f8ee] pb-10 px-10">
		<div class="content w-[50%] md:w-full bg-white rounded-lg shadow-xl shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
			<img class="rounded-lg" src="/imgs/historia/imagen-historia1.webp" alt="Foto de una iglesia" />
		</div>
		<div class="w-[45%] md:w-full"> 
			<h3 id="title2" class="text-4xl mt-10 font-semibold text-center text-slate-800 mb-5">César García ~ Presidente</h3>
			<p class="text-slate-700 text-center text-sm">
				"No existe mejor lugar para homenajear
				a nuestros seres queridos que
				en un jardín donde se conjugan el verde, las flores, y la presencia de las aves,
				que brindan una armonía de sonidos.
				Amamos la naturaleza, es parte de nuestras vidas, y tratamos de incluirla en cada rincón donde nos toca estar.
				A esa armonía incorporamos la dedicación que tiene nuestra gente para servir".
			</p>
		</div>
	</section>
	<section class="flex items-center space-x-8 md:space-x-0 flex-wrap justify-evenly bg-[#f8f8f8ee] py-10 px-10 md:flex-wrap-reverse">
		<div class="w-[45%] md:w-full">
			<h3 id="title1" class="text-4xl mt-10 text-center font-semibold text-slate-800 mb-5 md:text-center">Nuestra historia</h3>
			<p class="text-slate-700 text-center text-sm leading-[1.5rem]">Jardín de la Paz es un lugar que ofrece a las familias una forma única de rendir homenaje a sus seres queridos. Sus fundadores buscaban un espacio que transmitiera paz, y encontraron ese elemento en la naturaleza. Hoy, sus jardines florecientes y arbolados son un lugar de recuerdo para aquellos que descansan en paz. Jardín de la Paz tiene una amplia cobertura a nivel nacional, acompañando a familias en varias ciudades de Paraguay.</p>
		</div>
		<div class="content w-[50%] md:w-full bg-white rounded-lg shadow-xl shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
			<img class="rounded-lg" src="/imgs/historia/imagen-historia2.webp" alt="Foto de un jardín" />
		</div>
	</section>
	<WavesDown></WavesDown>
	<section class="text-center w-[650px] mx-auto md:w-full md:px-10">
		<h3 id="titleAnimated" class="text-[2.5rem] font-semibold mb-5">Servicios Velatorios y Funerarios</h3>
		<p>Nuestros servicios velatorios y funerarios están aquí para ayudarle a honrar y despedir a su ser querido con respeto y dignidad. Sabemos que cada despedida es única y personal, y estamos aquí para brindarle el apoyo que necesita en este momento. Confíe en nosotros para cuidar de todos los detalles con compasión y profesionalismo, para que pueda centrarse en el amor y los recuerdos compartidos. </p>
		<a href="#" class="btn btn-neutral mt-8 animate-bounce">Conoce los planes</a>
	</section>
	<hr class="mt-8 mb-2">
	<section class="mt-10">
		<Services></Services>
	</section>
	<WavesUp></WavesUp>
	<section class="text-center mx-auto md:w-full px-10 bg-[#f8f8f8ee]">
		<h3 id="titleAnimated" class="text-center text-[2.5rem] font-semibold mb-5">Obituarios</h3>
		<p class="w-[55%] min-w-[55%] md:w-full mx-auto text-center">En memoria de aquellos que han partido, recordamos y honramos las vidas que tocaron con su presencia. Aunque sus nombres pueden desvanecerse con el tiempo, su impacto y el amor que compartieron perduran en nuestros corazones.</p>
	</section> 
	<WavesDown></WavesDown>
	<section>
		<Obituarios></Obituarios>
	</section>
	<WavesUp></WavesUp>
	<section class="text-center mx-auto md:w-full px-10 bg-[#f8f8f8ee]">
		<h3 id="titleAnimated" class="text-center text-[2.5rem] font-semibold mb-5">Ponte en contacto con nosotros</h3>
		<p class="w-[55%] min-w-[55%] md:w-full mx-auto text-center">
			Estamos aquí para ti en cada paso del camino. Si necesitas ayuda, respuestas o simplemente alguien en quien confiar, no dudes en ponerte en contacto con nosotros. Tu comodidad y satisfacción son nuestra prioridad.</p>
	</section> 
	<WavesDown></WavesDown>
	<Contacto></Contacto>
</Layout>
<style is:global>
	p {
		font-weight: 400;
		font-size: 15px;
	}
	@keyframes show {
		from {
			opacity: .5;
			scale: 25%;
		}
		to {
			opacity: 1;
			scale: 100%;
		}
	}
	.content {
		view-timeline-name: --image;
		view-timeline-axis: block;
		animation-timeline: --image;
		animation-name: show;
		animation-range: entry 25% cover 60%;
		animation-fill-mode: both;
	}
	#titleAnimated {
		view-timeline-name: --image;
		view-timeline-axis: block;
		animation-timeline: --image;
		animation-name: show;
		animation-range: entry 25% cover 55%;
		animation-fill-mode: both;
	}
</style>