---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jardín de la paz | Planes">
    <main class="mt-10 w-[90%] mx-auto">
        <ul class="steps steps-vertical">
            <li class="step step-success">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap justify-evenly px-10">
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-cuarzo.webp" alt="Foto de una iglesia" />
                    </div>
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5 text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600">Plan Cuarzo</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 7.500.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700">
                            <li>Salón velatorio girasol</li>
                            <li>Féretro estándar</li>
                            <li>Servicio de mozo</li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="step step-success">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap-reverse justify-evenly px-10">
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5 text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-yellow-600">Plan Ámbar</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 11.500.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700">
                            <li>Salón velatorio girasol</li>
                            <li>Féretro estándar</li>
                            <li>Servicio de mozo</li>
                        </ul>
                    </div>
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-ambar.webp" alt="Foto de una iglesia" />
                    </div>
                </section>
            </li>
            <li class="step step-success">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap justify-evenly px-10">
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-jade.webp" alt="Foto de una iglesia" />
                    </div>
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5 text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600">Plan Jade</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 13.500.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700 md:grid md:grid-cols-2">
                            <li>Salón velatorio clavel y lirio</li>
                            <li>Sala privada de descanso</li>
                            <li>Féretro estándar</li>
                            <li>Servicio de mozo</li>
                            <li>Traslado para familiares</li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="step step-success mt-10">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap-reverse justify-evenly pb-10 px-10">
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5 text-transparent bg-clip-text bg-gradient-to-br from-fuchsia-200 to-fuchsia-300">Plan Perla</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 18.500.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700 md:grid md:grid-cols-2">
                            <li>Salón velatorio hortensia y lirio</li>
                            <li>Sala privada de descanso</li>
                            <li>Servicio de mozo</li>
                            <li>Féretro superior</li>
                            <li>Traslado para familiares</li>
                            <li>Cafetería</li>
                            <li>Desayuno</li>
                            <li>Catering</li>
                        </ul>
                    </div>
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-perla.webp" alt="Foto de una iglesia" />
                    </div>
                </section>
            </li>
            <li class="step step-success mt-10">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap justify-evenly pb-10 px-10">
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-zafiro.webp" alt="Foto de una iglesia" />
                    </div>
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5 text-transparent bg-clip-text bg-gradient-to-br from-purple-500 to-blue-800">Plan Zafiro</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 25.000.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700 md:grid md:grid-cols-2">
                            <li>Salón velatorio hortensia y lirio</li>
                            <li>Sala privada de descanso</li>
                            <li>Servicio de mozo</li>
                            <li>Féretro premium</li>
                            <li>Traslado para familiares</li>
                            <li>Cafetería</li>
                            <li>Desayuno</li>
                            <li>Catering</li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="step step-success mt-10">
                <section class="flex items-center space-x-8 md:space-x-0 flex-wrap-reverse justify-evenly pb-10 px-10">
                    <div class="w-[45%] md:w-full text-center md:mt-10"> 
                        <h3 id="title2" class="text-5xl font-bold text-center text-slate-800 mb-5">Plan Diamante</h3>
                        <span class="block text-center text-zinc-700 mb-5 text-lg">Gs. 60.000.000</span>
                        <ul class="space-y-2 text-lg text-zinc-700 md:grid md:grid-cols-2">
                            <li>Salón velatorio hortensia y lirio</li>
                            <li>Sala privada de descanso</li>
                            <li>Servicio de mozo</li>
                            <li>Féretro de lujo</li>
                            <li>Traslado para familiares</li>
                            <li>Cafetería premium</li>
                            <li>Desayuno</li>
                            <li>Catering</li>
                        </ul>
                    </div>
                    <div class="content w-[50%] md:w-full bg-white rounded-lg shadow-gray-300 dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-lg" src="/imgs/planes/plan-diamante.webp" alt="Foto de una iglesia" />
                    </div>
                </section>
            </li>
          </ul>
    </main>
</Layout>
<style>
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    span {
        font-size: 1.3rem;
    }
    .content {
        box-shadow: 2px 2px 20px 0px #aaaaaaaf;
    }
</style>