<div class="carousel w-full h-[480px] rounded-t-xl">
    <div id="slide1" class="carousel-item relative w-full">
      <img src="/imgs/carrousel/slider1.webp" class="w-full object-cover object-bottom"/>
      <div class="absolute w-full h-full top-0 flex items-center text-6xl font-bold px-3">
        <span class="text-white block text-center">Contacta con nosotros y permitenos ayudarte.</span>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-circle opacity-70">❮</a> 
        <a href="#slide2" class="btn btn-circle opacity-70">❯</a>
      </div>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
      <img src="/imgs/carrousel/slider3.webp" class="w-full object-cover object-bottom" />
      <div class="absolute w-full h-full top-0 flex items-center text-6xl font-bold px-3">
        <span class="text-white block text-center">Lo que hacemos en la vida, tiene eco en la eternidad.</span>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-circle opacity-70">❮</a> 
        <a href="#slide3" class="btn btn-circle opacity-70">❯</a>
      </div>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
      <img src="/imgs/carrousel/slider4.webp" class="w-full object-cover object-bottom" />
      <div class="absolute w-full h-full top-0 flex items-center text-6xl font-bold px-3 bg-black/20">
        <span class="text-white block text-center">Respeto, dignidad y apoyo en cada servicio.</span>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-circle opacity-70">❮</a> 
        <a href="#slide1" class="btn btn-circle opacity-70">❯</a>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full py-2 gap-3">
    <a href="#slide1" class="btn btn-xs">1</a> 
    <a href="#slide2" class="btn btn-xs">2</a> 
    <a href="#slide3" class="btn btn-xs">3</a> 
  </div>