
<footer class="bg-white px-10 border-t-[1px]">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:grid md:justify-between md:grid-cols-1">
          <div class="mb-6 md:mb-0">
              <a href="/" class="inline-block" title="Inicio">
                  <img src="/logo/logo-jardin-de-la-paz.png" class="w-24" alt="Jardín de la paz Logo" />
              </a>
          </div>
          <div class="grid grid-cols-2 sm:gap-6 md:grid-cols-1">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">COBERTURA NACIONAL - SUCURSALES</h2>
                  <div class="text-gray-500 dark:text-gray-400 font-medium grid grid-cols-2 gap-5">
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Asunción - Los Laureles</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Asunción - Centro</a>
                        </li >
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Encarnación</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Lambaré</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">San Juan Bautista</a>
                        </li>
                    </ul>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Luque</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Ciudad del Este</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Fernando de la Mora</a>
                        </li>
                        <li class="my-2">
                            <a href="#" class="hover:underline" title="Local">Cnel. Oviedo</a>
                        </li>
                    </ul>
                    </div>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Seguinos</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium inline-block">
                      <li class="mb-4">
                          <a href="#" class="hover:underline flex items-center" title="Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook inline-block mr-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                             </svg>Facebook</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline flex items-center" title="Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram inline-block mr-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M16.5 7.5l0 .01"></path>
                             </svg>Instagram</a>
                      </li>
                    </ul>
                </div>
            </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="text-center">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Jardín de la paz</a>. Todos los derechos reservados.
          </span>
      </div>
    </div>
</footer>
