---
import {ButtonSidePanel} from "./jsx/ButtonSideBar"
---
<nav class="px-5 py-3 flex justify-between">
    <div class="flex items-center space-x-4">
        <a href="/" data-tooltip-target="tooltip-home" data-tooltip-style="light" title="Inicio">
            <img src="/logo/logo-jardin-de-la-paz.jpg" class="w-16" alt="Logo de jardin de la paz">
        </a>
        <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">Inicio</div>
        <ul class="menu menu-horizontal px-1 text-[14px] md:hidden">
            <li>
                <details>
                  <summary>
                    Servicios
                  </summary>
                  <ul class="p-2 bg-base-100 w-60 z-30">
                    <li><a href="/planes">Planes piedras preciosas</a></li>
                    <li><a href="#">Espacios en los jardines</a></li>
                    <li><a href="#">CIVI</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>
                    Jardines
                  </summary>
                  <ul class="p-2 bg-base-100 w-60 z-30">
                    <li><a href="#">Lambaré</a></li>
                    <li><a href="#">Cnel. Oviedo</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <a href="/blog" data-tooltip-target="tooltip-blog" data-tooltip-style="light" title="Blog">Blog</a>
				<div id="tooltip-blog" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">Blog</div>
              </li>
              <li>
                <a href="https://wa.me/983934119" data-tooltip-target="tooltip-contacto" data-tooltip-style="light" title="Contacto">Contacto</a>
				<div id="tooltip-contacto" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">Contacto</div>
              </li>
        </ul>
    </div>
    <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone text-green-700" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
         </svg>
        <ul class="text-xs">
            <li>Atención 24 hs.</li>
            <li>021 626 7000</li>
        </ul>
       <ButtonSidePanel client:only="preact"></ButtonSidePanel>
    </div>
</nav>
<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
    * {
        font-family: 'Inter', sans-serif;
    }
</style>