<nav class="px-5 py-3 flex justify-between">
    <div class="flex items-center space-x-4">
        <a href="/">
            <img src="/logo/logo-jardin-de-la-paz.jpg" class="w-16" alt="Logo de jardin de la paz">
        </a>
        <ul class="menu menu-horizontal px-1 text-[13px]">
            <li>
                <details>
                  <summary>
                    Servicios
                  </summary>
                  <ul class="p-2 bg-base-100 w-60 z-30">
                    <li><a>Planes piedras preciosas</a></li>
                    <li><a>Espacios en los jardines</a></li>
                    <li><a>CIVI</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>
                    Jardines
                  </summary>
                  <ul class="p-2 bg-base-100 w-60 z-30">
                    <li><a>Lambaré</a></li>
                    <li><a>Cnel. Oviedo</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>
                    Salones
                  </summary>
                  <ul class="p-2 bg-base-100 w-60 z-30">
                    <li><a>Asunción (Centro)</a></li>
                    <li><a>Los Laureles</a></li>
                    <li><a>Lambaré</a></li>
                    <li><a>Fdo. De la Mora</a></li>
                    <li><a>Luque</a></li>
                    <li><a>Cnel. Oviedo</a></li>
                    <li><a>Encarnación</a></li>
                  </ul>
                </details>
              </li>
              <li>
                <a href="#">Exequias</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Contacto</a>
              </li>
        </ul>
    </div>
    <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone text-green-700" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
         </svg>
        <ul class="text-xs">
            <li>Atención 24 hs.</li>
            <li>021 626 7000</li>
        </ul>
    </div>
</nav>
<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
    * {
        font-family: 'Inter', sans-serif;
    }
</style>