<div class="card card-compact mx-auto bg-base-100 text-center px-10">
    <figure><img src="/imgs/carrousel/familia.webp" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title justify-center">CIVI</h2>
      <p class="my-3">La Cobertura Integral Vitalicia (CIVI), más conocida como Abono de Sepelio, consiste en diferentes tipos de planes de abono mensual que contemplan el servicio velatorio, el lugar de sepelio, o ambos. El CIVI permite incluir a los familiares en un sistema nominado para la cobertura brindando a las familias una protección integral.</p>
      <div class="card-actions justify-center my-5">
        <button class="btn btn-neutral w-72">Conoce más</button>
      </div>
    </div>
  </div>
  <div class="card card-compact mx-auto bg-base-100 text-center mt-8 px-10">
    <figure><img src="/imgs/carrousel/jardin.webp" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title justify-center">Espacios en los jardines</h2>
      <p class="my-3">Los cementerios jardín gozan de paisajes que invitan a la paz y a la reflexión. Descubrí los espacios que tenemos en Lambaré y Coronel Oviedo.</p>
      <div class="card-actions justify-center my-5">
        <button class="btn btn-neutral w-72">Conoce más</button>
      </div>
    </div>
  </div>