---
import {ButtonCloseSidePanel} from "./jsx/ButtonSideBar.jsx";
---
<div id="bloqueo" class="w-full h-full absolute top-0 z-[100] bg-black/30 hidden"></div>
<aside class="sideBar" id="sideBar">
    <ul class="flex items-center justify-between">
        <li>
            <ButtonCloseSidePanel client:only="preact"></ButtonCloseSidePanel>
        </li>
        <li><a href="/"><img src="/logo/logo-jardin-de-la-paz.png" alt="Logo de Minder" class="w-10"></a></li>
    </ul>
    <div class="h-full w-full px-3 py-4 overflow-y-auto">
        <ul class="space-y-3 font-medium">
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-800 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-services">
                      <span class="flex-1 ml-3 text-left whitespace-nowrap">Servicios</span>
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                      </svg>
                </button>
                <ul id="dropdown-services" class="hidden py-2 space-y-2">
                      <li>
                         <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Planes piedras preciosas</a>
                      </li>
                      <li>
                         <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Espacios en los jardines</a>
                      </li>
                      <li>
                         <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">CIVI</a>
                      </li>
                </ul>
             </li>
           <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-800 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-jardin">
                        <span class="flex-1 ml-3 text-left whitespace-nowrap">Jardines</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                </button>
                <ul id="dropdown-jardin" class="hidden py-2 space-y-2">
                        <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Lambaré</a>
                        </li>
                        <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Cnel. Oviedo</a>
                        </li>
                </ul>
           </li>
           <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-800 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-salones">
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Salones</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <ul id="dropdown-salones" class="hidden py-2 space-y-2">
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Asunción (Centro)</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Los Laureles</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Lambaré</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Fdo. de la Mora</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Luque</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Cnel. Oviedo</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-gray-800 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Encarnación</a>
                    </li>
                </ul>
            </li>
           <li>
              <a href="#" class="flex items-center p-2 text-gray-800 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cross" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 21h4v-9h5v-4h-5v-5h-4v5h-5v4h5z"></path>
                 </svg>
                 <span class="flex-1 ml-3 whitespace-nowrap">Exequias</span>
              </a>
           </li>
           <li>
              <a href="/blog" class="flex items-center p-2 text-gray-800 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-article" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                    <path d="M7 8h10"></path>
                    <path d="M7 12h10"></path>
                    <path d="M7 16h10"></path>
                 </svg>
                 <span class="flex-1 ml-3 whitespace-nowrap">Blog</span>
              </a>
           </li>
           <li>
              <a href="#" class="flex items-center p-2 text-gray-800 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                 </svg>
                 <span class="flex-1 ml-3 whitespace-nowrap">Contacto</span>
              </a>
           </li>
        </ul>
     </div>
</aside>
<style>
    #sideBar {
        position: fixed;
        width: 20rem;
        height: 100%;
        background-color: rgb(250, 250, 250);
        top: 0;
        right: -20rem;
        transition: right 0.3s ease-in-out;
        z-index: 200;
        padding: 1.3rem;
    }
</style>
<script>
    let bloqueo = document.getElementById("bloqueo");
    let sideBar = document.getElementById("sideBar") as HTMLElement;
    bloqueo.addEventListener("click", (e) => {
        bloqueo.classList.replace("block", "hidden");
        sideBar.style.right = "-20rem";
        e.preventDefault();
    })
</script>